@use '../mixins/mixins.scss' as *;
.f-flight-chart {
  width: 100%;
  height: 100%;

  .f-flight-chart__wrap {
    width: 100%;
    height: 100%;
    background-size: 100% 100%;

    .point__title {
      text-anchor: middle;
    }

    .point__icon {}

    .line__inner {
      animation: followpath 4s linear infinite;

      @keyframes followpath {
        from {
          offset-distance: 0%;
        }

        to {
          offset-distance: 100%;
        }
      }
    }
  }
}