@use '../mixins/mixins.scss' as *;

.#{$namespace}-liquid-chart {
  position: relative;
  width: 100%;
  height: 100%;
  transition: .3s;
  box-sizing: border-box;
  cursor: pointer;

  // 矩形容器
  &__rect-wrap {
    position: relative;
    width: 100%;
    height: 100%;
  }

  // 波浪容器
  &__wave-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    // .#{$namespace}-liquid-chart__wave {
    //   animation: wave var(--waveDuration, 10000ms) linear infinite;
    //   animation-direction: var(--animation-direction, reverse);

    //   @keyframes wave {
    //     from {
    //       transform: translate(0, 0);
    //     }

    //     to {
    //       transform: translate(var(--animation-length, -100%), 0);
    //     }
    //   }
    // }

    .#{$namespace}-liquid-chart__wave:hover {
      opacity: 0.85;
    }
  }

  // 中心圆形
  &__center-circle {
    // fill: linear-gradient(180deg, rgba(109, 165, 255, 0.6) 0%, rgba(109, 165, 255, 0) 60.03%, rgba(109, 165, 255, 0) 100%);
    // fill: rgba(69, 121, 226, 0.5);

  }

  // 线的文本
  &__line-text {
    text-anchor: middle;
  }
}