@use '../mixins/mixins.scss' as *;

.f-scroll-table2 {
  box-sizing: border-box;
  color: white;

  .f-scroll-table__head {
    display: flex;
  }

  .f-scroll-table__content {
    overflow-y: auto;

    // 隐藏滚动条
    &.is-hidden-scrollbar {
      scrollbar-width: none;
      -ms-overflow-style: none;
    }

    &.is-hidden-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .f-scroll-table__row-wrap {
      display: grid;
      grid-template-rows: 1fr;
      transition: all var(--page-animate-dur);

      .f-scroll-table__row {
        display: flex;
        height: 100%;
        min-height: 0;

        &.f-scroll-table_row--striped {
          background: #dadee336;
        }
      }
    }

  }

  // 单元格
  & .f-scroll-table__cell {
    // padding: 8px 0;
    // text-align: center;
    height: auto;
    padding: 8px 10px;
    // text-overflow: ellipsis;
    vertical-align: middle;
    box-sizing: border-box;

    .cell {
      overflow: hidden;
      width: 100%;
      max-width: 100%;
      height: 100%;

      box-sizing: border-box;

      // 不换行
      &.cell--nowrap {
        white-space: nowrap;
      }

      // 换行
      &.cell--wrap {
        white-space: normal;
        word-wrap: break-word;
        word-break: normal;
      }
    }
  }

  // 边框
  &.is-border {
    .f-scroll-table__cell {
      border: 1px solid #ebeef5;
    }

    :not(.f-scroll-table__cell:last-child) {
      border-right-width: 0px;
    }
  }

  .f-scroll-text {
    padding: 0;
  }
}