@use '../mixins/mixins.scss' as *;
.f-virtual-list {
  position: relative;
  overflow: auto;

  .f-virtual-list__space {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    z-index: -1;
  }

  .f-virtual-list__content {
    left: 0;
    right: 0;
    top: 0;
    position: absolute;

    .f-virtual-list__item {
      width: 100%;
      // box-sizing: border-box;
    }
  }
}